* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --background-color: #000000;
  --hover-color: #808080;
  --text-color: #ffffff;
}

body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--background-color);
}

.clickable-image {
  max-height: 30%;
  height: auto;
  width: auto;
  cursor: pointer;
  transition: opacity 1s ease;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#videoContainer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
}

#video {
  width: 640px;
  height: 360px;
  opacity: 0;
  transition: opacity 1s ease;
}

#closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  color: var(--text-color);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font-size: 15px;
  opacity: 0;
  transition: opacity 1s ease;
}

#closeButton:hover {
  color: var(--hover-color);
}

.hidden {
  opacity: 0;
}

.center-credits-container {
  position: relative;
}

#creditsBtn {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 0;
  font-size: 15px;
  cursor: pointer;
  color: white;
  background: none;
  border: none;
  transition: opacity 1s ease;
}

#creditsBtn:hover {
  color: var(--hover-color);
}

#creditsContainer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
}

#creditsImg {
  max-height: 80%;
  height: auto; 
  width: auto; 
  margin: 20px 0; 
  opacity: 0;
  transition: opacity 1s ease;
}

#closeCreditsButton {
  position: absolute;
  top: 20px;
  right: 20px;
  color: var(--text-color);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font-size: 15px;
  opacity: 0;
  transition: opacity 1s ease;
}

#closeCreditsButton:hover {
  color: var(--hover-color);
}

.info-button-container {
  position: relative;
}

#infoButton {
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 0;
  font-size: 15px;
  cursor: pointer;
  color: var(--text-color);
  background: none;
  border: none;
  transition: opacity 1s ease;
}

#infoButton:hover {
  color: var(--hover-color);
}

#infoContainer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
}

#closeInfoButton {
  position: absolute;
  top: 20px;
  right: 20px;
  color: var(--text-color);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font-size: 15px;
  opacity: 0;
  transition: opacity 1s ease;
}

#closeInfoButton:hover {
  color: var(--hover-color);
}

#laurelImageOne {
  max-height: 50%;
  height: auto;
  width: auto;
  margin: 20px 0;
  opacity: 0;
  justify-content: center;
  align-items: center;
  transition: opacity 1s ease;
}

#laurelImageTwo {
  max-height: 20%;
  height: auto;
  width: auto;
  margin: 20px 0;
  opacity: 0;
  justify-content: center;
  align-items: center;
  transition: opacity 1s ease;
}

#emailContainer {
  display: none;
  position: fixed;
  top: calc(50% + 180px);
  left: 50%;
  transform: translate(-50%);
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
}

#email {
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  opacity: 0;
  transition: opacity 1s ease;
}